{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" href="data:,">
    <title>Forum</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav_inner">
        <div class="nav_btn">
          <span></span>
        </div>
        <div class="nav_logo">
          <h1>ITBazar Forum</h1>
        </div>
      </div>
     
    </nav>
    
    {{end}}
  </body>
</html>
