
{{template "header"}}

<div class="sidebar">
    <div class="sidebar_inner">
        <div class="username">
            <h6>{{.Name}}</h6>
        </div>
        
        <div class="sidebar_list">
            {{if eq .Name "Guest"}}
            <a href="/login">Sign in</a>
            <a href="/">Main</a>

    {{else}}
            <a href="/">Main</a>
            <a href="/my_posts">My Posts</a>
            <a href="/liked_posts">Liked Posts</a>
            <a href="/createPost">Create Post</a>
            <a href="/exit">Exit</a>
    {{end}}
        </div>
        
    </div>
</div>
<div class="main_posts">
    <div class="container">
        <h2>Recent Posts:</h2>
        <form action="/filtered-posts" method="GET">
            <div class="filter">
                <label for="category">Filter by Category:</label>
                <div class="categories">
                    <label><input type="checkbox" name="category" value="none"> None</label>
                    <label><input type="checkbox" name="category" value="Frontend"> Frontend</label>
                    <label><input type="checkbox" name="category" value="Backend"> Backend</label>
                    <label><input type="checkbox" name="category" value="DevOps"> DevOps</label>

                    <label><input type="checkbox" name="category" value="UI/UX designer"> UI/UX designer</label>
                </div>
                <button type="submit">Apply Filter</button>
              
             
            </div>
        </form>
        <div class="main_posts_inner">
            {{if (eq (len .Posts) 0)}}
            <p>There no post about this category yet</p>
        {{else}}
            {{range .Posts}}
            <div class="post">
                    <div class="post_inner">
                        <div class="post_left">
                            <div class="post_image_banner">
                                {{if .ImageField}}
                                <img src="{{.ImageField}}" alt="Post Image" style="max-width: 100%;">
                                {{end}}
                            </div>
                        </div>
                        <div class="post_right">
                            <h3>{{.Title}}</h3>
                            <p><strong>Category:</strong> {{.Category}}</p>
                            <p><strong>Author:</strong> {{.Username}}</p>
                            <p><strong>Creation Date:</strong> {{.CreationDate.Format "2006-01-02 15:04:05"}}</p>
                            <p id="truncated-content">{{.Content}}</p>
                            <div class="reactions">
                                <form action="/like_dislike_post" method="POST">
                                    {{.Likes}}
                                    <input type="hidden" name="post_id" value="{{.PostId}}">
                                    <input type="hidden" name="action" value="like">
                                    <button class="reaction-button" type="submit">
                                        <img src="/static/Icons/like.svg" alt="Like">
                                    </button>
                                </form>
                                
                                <form action="/like_dislike_post" method="POST">
                                    {{.Dislikes}}
        
                                    <input type="hidden" name="post_id" value="{{.PostId}}">
                                    <input type="hidden" name="action" value="dislike">
                                    <button class="reaction-button" type="submit">
                                        <img src="/static/Icons/dislike.svg" alt="Dislike">
                                    </button>
                                </form>
                            </div>
        
                            <a href="post/?id={{.PostId}}">Read More</a>
                        </div>
                    </div>
            </div>
            {{end}}
            {{end}}
        </div>
      
    </div>
</div>
    <script>  
        const contentElements = document.querySelectorAll("#truncated-content");

// Iterate through each content element
contentElements.forEach(contentElement => {
    const content = contentElement.textContent;
    if (content.length > 100) {
        const truncatedContent = content.slice(0, 100) + "...";
        contentElement.textContent = truncatedContent;
    }
});

        </script>
    <script src="/static/script.js"></script>

</body>
</html>
